*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container-fluid{
    width: 100%;
}
.col-4{
    width: 25%;
}
.col-8{
    width: 75%;
}
.tinder{
    display: flex;
}
.nav-menu-head{
    padding: 6px 10px;
}
.profile{
    display: flex;
    align-items: center;
}
.profile img{
    border-radius: 50%;
    margin-right: 6px;
}
.circle-icon{
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background-color: #70241e;
    text-align: center;
    line-height: 32px !important;
    color: white;
}
.nav-menu-head{
    display: flex;
    justify-content: space-between;
    background-color: #fe4458;
    padding: 16px 14px;
}
.promote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #f0f2f4;
}
.promote > *{
    margin: 5px 0px;
}
.promote button{
    width: 80%;
}
.promote-button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.promote-button button{
    padding: 6px 10px;
    border-radius:8px;
    border: none;
    outline: none;
    color: white;
    background-color: #e9b627;
}
.navbar-tab{
    padding: 8px;
}
.tab-item{
    background-color: transparent;
    padding: 0px 6px;
    border-width: 0px 0px 3px 0px;
    border-color: #fe4458;
    cursor: pointer;
}
.offset-4{
    margin-left: 25%;
}
.tinder-content{
    display: flex;
}
.tinder-content-discovery img{
    width: 100%;
}
.col-3{
    width: 33.33%;
}
.offset-3{
    margin-left: 33.33%;
}
.person-summary-name{
    font-size: 22px;
}
.person-summary-age{
    font-size: 14px;
}
.person-summary-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.person-summary-info i{
    margin-right: 5px;
}
.person-summary-title span{
    margin-right: 5px;
}
.person-summary-info-icon{
    color: black;
    background-color: white;
}
.person-action{
}
.person-info{
    position: absolute;
    top: 62%;
    left: 0;
    right: 0;
    padding-left: 10px;
}
.tinder-content-discovery{
    position: relative;
}