#wrapper{
    width: 100%;
}
.navbar-custom{
    background-color: #36404e;
}
.topnav ul > li{
    float:left
}
.noti-icon{
    font-size: 22px;
    
}
.topnav ul>li>a{
    padding: 0 15px;
    line-height: 80px;
}
.nav-user > img{
    width: 32px;
    height: 32px;
    border-radius: 50%!important;
}
.noti-icon-badge{
    position: absolute;
    top:-15px;
    right: 12px;
}
.waves-effect{
    position: relative;
    cursor: pointer;
}
.topnav ul{
    margin-block-end: 0;
}