*{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
.container{
    
}
.menu-left{
    
}
.row{
    display: flex;
}
.col-3{
    width: 25%;
}
.col-9{
    width: 75%;
}
.profile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fe4458;
    padding: 16px 14px;
}
.profile-left img{
    border-radius: 50%;
    margin-right: 10px;
}
.profile-left{
    display: flex;
    align-items: center;
}
.circle-icon {
    width: 32px;
    height: 32px;
    border-radius: 50px;
    background-color: #70241e;
    text-align: center;
    line-height: 32px !important;
    color: white;
}
.promote h4{
    text-align: center;
}
.promote div{
    text-align: center;
}
.promote > *{
    padding: 5px;
}